* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: 150px auto;
  width: 1000px;
  display: flex;
}

#vetrina {
  width: 850px;
}

#lista-immagini {
  width: 150px;
  display: flex;
  flex-direction: column;
}

img {
  height: 100%;
  width: 100%;
}

#lista-immagini img {
  height: calc(100% / 5);
}