* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#container {
  margin: 150px auto;
  width: 1000px;
  display: flex;
}

#vetrina {
  width: 850px;
  position: relative;
}

#lista-immagini {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

#lista-immagini img {
  opacity: 0.5;
}

#lista-immagini .active {
  opacity: 1;
  border: 2px solid #dac9ff;
}

img {
  height: 100%;
  width: 100%;
}

.testo {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  color: #FFF;
  text-align: right;
  bottom: 0;
  margin: 20px 10px;
}

.arrow {
  position: absolute;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.7;
  color: #000;
  font-weight: bold;
}

.arrow:hover {
  opacity: 1;
}

.up {
  top: 0;
}

.down {
  bottom: 0;
}